@model PointOfSale.Models.AssignToSheek
@{
    ViewData["Title"] = "AssignToGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assign To Guest</h1>
<form asp-action="AssignToGuest" method="post">
    <div class="form-group col-6">
        <label asp-for="sheekId" class="control-label"></label>
        <select asp-for="sheekId" class="form-control" asp-items="ViewBag.sheekId"></select>
        <span asp-validation-for="sheekId" class="text-danger"></span>
        <br />
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>

