@model PointOfSale.Models.BarItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var path = "~/Images/" + (Model.ImagePath ?? "No_Image.png");
    ViewBag.ImagePath = Model.ImagePath;
}



<h4>Edit Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Current Image</label>
                <img src="@path" height="150px" width="200" style="border-radius=50%" class="card-img-top" asp-append-version="true">
            </div>
            <div class="form-group">
                <label class="control-label"> New Image!</label>
                <div class="custom-file">
                    <input asp-for="PhotoUpload" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose Image</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-image="@ViewBag.ImagePath" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        })
    })
</script>
}
